<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>

    <!-- Para guardar en ficheros -->
    <appender name="LogFileAppender" type="MSSUtils.Logger.CustomLoggerFileAppender, MSSUtils" >
      <param name="File" value="Logs\FileLog" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="MSSUtils.Logger.Utils.LogXmlLayout, MSSUtils" />
    </appender>

  </log4net>

</configuration>